:host {
    display: grid; 
    grid-template-rows: auto auto 1fr;   
}

nav {
    display: flex;
    align-items: center;
    background-color: rgb(202, 246, 202);
    padding-left: 10px;
    padding-right: 10px;
}

nav>a {
    padding: 6px;
    outline: 0px transparent;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

nav>a.current {
    background-color: lightgreen;
}

.seperator {
    flex: 1;
}

.user {
    font-size: 0.8em;
}