:host {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 200px 1fr;
}

.title-area {
    grid-column: 1 / -1;
}

.text-area {
    grid-column: 1 / -1;
}

div {
    padding: 2px;
    margin: 2px;
    border: 1px solid gray;
}