<div class="title-area">
    <app-title [caption-color]="selectedColor" caption="The amazing Notepad App"></app-title>
</div>
<div class="colors-area">
    <app-string-selector
        [options]="colors"
        [selectedOption]="selectedColor"
        (selectionRequested)="selectColor($event)"
    ></app-string-selector>
</div>
<div class="sizes-area">
    <app-string-selector
        [options]="sizes"
        [selectedOption]="selectedSize"
        (selectionRequested)="selectSize($event)"
    ></app-string-selector>
</div>
<div class="fonts-area">
    <app-string-selector
        [options]="fonts"
        [selectedOption]="selectedFont"
        (selectionRequested)="selectFont($event)"
    ></app-string-selector>
</div>
<div class="text-area">
    <textarea 
        [style.color]="selectedColor"
        [style.font-size]="selectedSize"
        [style.font-family]="selectedFont"
    ></textarea>
</div>


