/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: grid;
}

div {
    display: grid;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}